h1 {
  color: #b47623;
}

input[type=text] {
  border: 1px solid;
  background-color: #f1d8b6;
  color: black;
  border-radius: 10px;
}

input[type=submit] {
  background-color: #b47623;
  border-radius: 10px;
  border: 1px solid;
  color: black;
}

input {
  border: 1px solid;
  border-radius: 10px;
  width: 75%;
  text-align: center;
  font-weight: bold;
}

fieldset {
  border: 1px solid transparent;
  margin: 0;
  xmin-width: 0;
  padding: 10px;
  border-radius: 15px;
  background-color: #f1d8b6;
  padding-left: 10px;
  margin-top: 10px;
}

legend {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  width: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  background-color: white;
}

fieldset.ref {
  background-color: transparent;
  text-align: center;
}

p {
  font-size: 14px;
}

a {
  font-size: 12px;
}

.img_centered {
  text-align: center;
}

.peremption {
  width: 500px;
  margin: 0px;
}
