@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{ font-family: 'Montserrat', sans-serif; }

nav a{
	color:#b67823;
	font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
  height: 30px;
}

.test {
	color:#b67823;
	font-weight: bold;
	align-content: center;
	padding: 5px;
}