@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
}

/* Navbar content settings */
.navbar-nav {
	padding-top: 12px; /* 12px refers to the 10px padding of the image 
						(10px padding + 2px border-bottom) */
	border-bottom: 2px solid #764e17;
}

nav a {
	color: #b67823;
	font-weight: bold;
}

.nav-link:hover {
	color: #764e17;
}

.sticky-top {
	text-align: center !important;
	background-color: #fdeee0 !important;
}

/* Navbar's hamburger button color settings */
.navbar-toggler {
	border-color: rgb(182, 120, 35) !important;
}

.navbar-toggler-icon {
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(182,120,35, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* Image with its text settings */
.logo {
	height: 45px;
	width: auto;
}

.mainicon {
	color: #b67823;
	font-weight: bold;
	padding-right: 20px;
	padding-top: 10px;
	/* in order to not be too close of the hamburger button 
						when in mobile view */
}

@media (min-width: 768px) .col-md-12 {
	padding-left: 0 !important;
    padding-right: 0 !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}