img {
  width : 300px;
}

img:hover {
  transform: translate(0,-110%);
  transition: .3s;
}

body {
  float: center;
  margin: 100px;
}

.left_div, .center_div, .right_div {
  float : left;
  margin : 10px;
  width: 300px;
  height: 500px;
}
