
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{ 
	font-family: 'Montserrat', sans-serif !important; 
	
	margin-top:100px;
	margin-left:10%;
	background-image: linear-gradient(white,#fdf8f0,#fcf3e4, #f3daba);
	background-attachment: fixed;
	font-size:2vw;
}

