#ordersDiv, #cartDiv{
}
.art{
	float: left;
	size: 10%;
}
.comm{
	float: left;
	size: 5%;
}

.btnComm {
	background-color: sandybrown;
    border-radius: 60px;
}

.quant{
	float: left;
	size: 5%;	
}
.prix{
	float: left;
	size: 5%;
}
.sup{
	float: left;
	size: 5%;
}
.mod{
	float: left;
	size: 5%;
}