#ChangePic {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	border-radius: 0.3rem;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
	background-color: #764e17;
	border: 2px solid;
	color: white;
	height: 45px;
	width: 30%;
	font-size: 18px;
}

#ChangePic:hover {
	background-color: sandybrown;
}

#intro {
	text-align: center;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
}

div#introMonture {
    padding-right: 10px;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

h1 {
	font-size: 20px;
	color: #b47623;
	text-align: center;
}

.container h2 {
	background: #764e17;
	color: #fff;
	font-size: 24px;
	padding: 8px;
	height: 40px;
	text-align: center;
	margin-left: 15%;
    margin-right: 15%;
    min-width: 200px;
}

/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	top: 10%;
	left: 20%;
	border: 4px solid #b67823;
	z-index: 9;
	border-radius: 27px;
}

/* Add styles to the profil pic popup form */
.form {
	padding: 0 16px;
	max-width: 550px;
	margin: 15px auto;
	font-size: 18px;
}

.titrepopup {
	padding-left: 60px;
}

.headpopup {
	background-color: antiquewhite;
	border-bottom: none !important;
	margin-bottom: 0px;
}

.totalpopup {
	background-color: antiquewhite;
	padding-bottom: 10px;
}

.contentpopup {
	background-color: antiquewhite;
	/* border-radius: 10px; */
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.close_button {
	position: absolute;
	width: 20px;
	height: auto;
	right: 3%;
}

.close_button:hover {
	opacity: 70%;
	transition: .1s;
	transform: translate(0, 1px);
}

.toggle {
	margin-left: 10px;
}

.container {
	width: 100%;
	margin-top: 100px;
}

label {
	font-weight: bold;
	border-bottom: 2px solid #764e17;
}

.headProfil {
	background-color: antiquewhite;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 2%;
	border: 2px solid bisque;
}

img.profil {
	width: auto;
    height: 100px;
    border: 2px solid sandybrown;
    cursor: pointer;
    z-index: 1;
    background-color: rosybrown;
}

img.profil:hover {
	box-shadow: 0px 0px 20px burlywood;
}

.cardMontureSizing {
	padding-bottom: 125px;
    background-color: transparent !important;
    border: none !important;
}

img.editPic {
	width: auto;
	height: 70px;
}

img.edit {
	margin-top: 10%;
}

.marginBottom {
	margin-bottom: 5% !important;
}

.marginBottomStrong {
	margin-bottom: 10% !important;
}

/*  */
/* EXPERIMENTAL RADIO BUTTON */
/*  */
.inputGroup {
	background-color: burlywood;
	display: block;
	margin: 10px 0;
	position: relative;
	padding: 0 !important;
}

.inputGroup label {
	padding: 13px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3C454C;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	border: none !important;
	margin-bottom: 0 !important;
	overflow: hidden;
}

.inputGroup label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: sandybrown;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}

.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: '';
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image:
		url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
	color: #fff;
}

.inputGroup input:checked ~ label:before {
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}

.inputGroup input:checked ~ label:after {
	background-color: #764e17;
	border-color: #764e17;
}

.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden !important;
}


/* END EXPERIMENTAL RADIO BUTTON */

.btnModifier {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	border-radius: 0.3rem;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
	background-color: #764e17 !important;
	border: 0px solid !important;
	color: white;
	height: 45px;
	width: 50%;
	font-size: 18px;
}

.btnModifier:hover {
	background-color: sandybrown !important;
	border: 0px solid;
}

.btnModifierMag {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	border-radius: 0.3rem;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
	background-color: darkred !important;
	border: 0px solid !important;
	color: white;
	height: 45px;
	width: 50%;
	font-size: 18px;
}
.btnModifierMag:hover {
	background-color: darkorange !important;
	border: 0px solid;
}

/*switch*/
.switchLabel {
	margin-bottom: 10px !important;
}

.labelMargin {
	margin-bottom: 10px !important;
}

.img-responsive {
	position: relative;
	align-content: center;
}

.form-control {
	width: 100% !important;
	margin-top: 0px;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 800px !important;
}
}

@media screen and (max-width :767px) {
	.switchLabel {
		margin-left: 23% !important;
		margin-right: 23% !important;
	}
}

/*  */
/* Page monMagasin.jsp */
/*  */

.hrmargin {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 102, 102, 1), rgba(0, 0, 0, 0));
	margin-top: 3% !important;
}

/*  */
/* Page mesReussites.jsp */
/*  */




h2.success {
	background: darkorange;
    color: white;
    font-size: 24px;
    padding: 8px;
    height: 40px;
    text-align: center;
    min-width: 200px;
    border-left: 2px solid #764e17;
    border-right: 2px solid #764e17;
}

h2.successMag {
	background: darkred;
    color: white;
}

h4.col-form-label {
	background-color: moccasin;
    border-left: 2px solid #764e17;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    margin-bottom: 10px;
    border-right: 2px solid #764e17;
}

.reussitesCont {
	padding-right: 15% !important;
    padding-left: 15% !important;
}

.col-md-6.reussitesCol {
	margin: auto;
    float: none;
    text-align: center;
}

.reussitesRow {
	background-color: moccasin;
    border: 2px solid bisque;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-top: 7%;
    padding-bottom: 7%;
}

.reussitesImg {
	width: auto;
    height: 100px;
}

.reussitesLbl {
	background-color: sandybrown;
    padding-right: 5%;
    border-left: 2px solid #764e17;
    border-right: 2px solid #764e17;
    border-bottom: 0;
    padding-left: 5%;
}

.centerContent {
	justify-content: center;
}

.cardSizing {
	width: 300px;
    margin-top: 10px;
}

.cardImgStyle {
	height: 150px;
}

.cardSuccessMax {
	color: white;
}

.cardSuccessMax:hover {
	box-shadow: 0px 1px 8px black;
}

.cardImgLabel {
	border-bottom: 2px solid white;
}

.shadowCard {
	background-color: gray;
	opacity: 0.5;
    padding-left: 100px;
    padding-right: 150px;
    padding-bottom: 110px;
    margin-left: 3px;
    position: absolute;
    z-index: -1;
    text-align: center;
    vertical-align: middle;
}

.card-img-overlay {
	z-index: 0;
}

.overlayMaxSuccess {
	display: block;
	opacity: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
	text-align: center;
	background-color: transparent !important;
}

.overlayMaxSuccess:before {
	content: ' ';
	display: block;
	/* Buttons shall always be at 50% down the image's top */
	height: 50%;
}

.card:hover .overlayMaxSuccess {
	opacity: 1;
	margin-top: 20%;
	transition: 0.5s;
}

@media ( min-width : 768px) and (max-width:991px) {
	.card {
		width: auto;
		height: 150px;
	}
	.shadowCard {
		width: auto;
		padding-left: 100px;
		padding-right: 85px;
		padding-bottom: 130px;
		margin-left: 12px;
		margin-top: 10px;
	}
	.card-img-overlay {
		padding: 0 !important;
	}
	.card-body {
		padding: 0 !important;
		padding-top: 0.5rem !important;
	}
	.centerContent {
		padding-left: 22px;
		padding-right: 22px;
	}
}

