/*  */
/* score.jsp / scoreCamel.jsp / scoreTable.jsp */
/*  */

.container {
	width: 100%;
	margin-top: 100px;
	min-width: 576px;
    margin-right: auto;
    margin-left: auto;
}

#scoreTab{
	width: 50%;
	margin : auto;
}

#yourScore {
	margin-bottom: 75px;
}

.container h2 {
    background: #764e17;
    color: #fff;
    font-size: 24px;
    padding: 8px;
    height: 40px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    min-width: 200px;
}

.container h3 {
	font-size: 24px;
    padding: 8px;
    height: 40px;
    text-align: center;
	margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
    margin-bottom: 2%;
    min-width: 200px;
    background-color: moccasin;
    border-left: 2px solid #764e17;
    border-right: 2px solid #764e17;
}

.headerTitre {
	background-color: antiquewhite;
	border: 2px solid bisque;
	width: 80% !important;
    margin-left: 10%;
    padding: 15px;
    text-align: center;
    margin-bottom: 3%;
}

.d-flex {
	margin-right: 15%;
    margin-left: 15%;
}

.scoreTablePrincipale {
	border-left: 2px solid #764e17;
    border-right: 2px solid #764e17;
    border-top: none !important;
    text-align: center;
}

.table thead th {
    border-bottom: 5px solid antiquewhite;
    border-top: 0px !important;
    padding: .75rem;
}

.table tbody td {
    padding: 0.5rem;
    border-bottom: 5px solid antiquewhite;
}

.backgroundImg {
	position: absolute;
    z-index: -5;
    width: 92%;
    height: 145px;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: -25px;
}

.colorTextSettings {
	color: #764e17;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
	.d-flex {
		margin-right: 8% !important;
		margin-left: 8% !important;
	}
}

@media (min-width: 991px) and (max-width: 1199px) {
	
}

/*  */
/* scoreFiltre.jsp */
/*  */

.inputField {
	border-left: 2px solid #764e17;
    border-right: 2px solid #764e17;
    border-top: none;
    border-bottom: none;
    text-align: center;
}