.container {
	width: 100%;
	margin-top: 100px;
}

.container h2 {
	background: #764e17;
	color: #fff;
	width: 300px;
	font-size: 24px;
	padding: 8px;
	height: 40px;
	text-align: center;
}

/* .container h2::after {
	content: '';
	border-top: 40px solid #764e17;
	border-right: 40px solid transparent;
	position: relative;
	left: 26.5px;
	top: 33px;
	left: 63px;
	top: 33px;
} */
.row {
	margin-top: 30px;
}

img {
	width: 100%;
	height: 200px;
}

.product-bottom .fa {
	color: #764e17;
	font-size: 10px;
}

.product-bottom h3 {
	font-size: 20px;
	font-weight: bold;
}

.product-bottom h5 {
	font-size: 15px;
	padding-top: 10px;
}

.product-bottom .prix {
	padding-bottom: 10px;
	padding-top: 0px;
}

.overlay {
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 0;
	width: 70px;
	text-align: center;
}

.overlay:before {
	content: ' ';
	display: block;
	/* Buttons shall always be at 50% down the image's top */
	height: 10%;
}

.overlay2 {
	display: block;
	opacity: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
	text-align: center;
	background-color: #e89d2c;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #888;
}

.overlay2:before {
	content: ' ';
	display: block;
	/* Buttons shall always be at 50% down the image's top */
	height: 10%;
}
.product-top:hover .overlay2 {
	opacity: 1;
	margin-top: 2%;
	transition: 0.5s;
}

.product-top {
	position: relative;
}

.product-top:hover .overlay {
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;
}

.overlay .fa {
	cursor: pointer;
	background-color: #e89d2c;
	color: #fff;
	height: 35px;
	width: 35px;
	font-size: 20px;
	padding: 7px;
	margin: 5%;
	margin-bottom: 5%;
	display: inline-block;
	border-radius: 60px;
	box-shadow: 0px 0px 2px #888;
	/*  	padding: 0.5em 0.6em;
 */
}

.overlay .quantity {
	display: inline-block;
	margin-right: 50px;
}

.overlay .col-form-label {
	padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    background-color: brown;
    border-radius: 60px;
    height: 35px;
    width: 35px;
    color: white;
}

.overlay .btn-secondary {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

@media (max-width : 576px) {
	img {
	width: 191.25px;
	height: 150px;
}
	.product-top {
    text-align: center;
}
	.overlay {
	width: 100%;
	}
	.favorite {
    margin-right: 150px;
}
}

@media ( min-width : 576px) and (max-width:767px) {
	.overlay:before {
		height: 15%;
	}
	.overlay .fa {
		height: 80px;
		width: 80px;
		font-size: 50px;
		padding: 15px;
		margin: 5%;
		margin-bottom: 50%;
	}
	.overlay .col-form-label {
		height: 91px;
	    width: 150px;
	    font-size: 50px;
		margin-left: 7px;
		margin-top: -36px;
	}
	img {
	height: 400px;
}
}

@media ( min-width : 768px) and (max-width:991px) {
	.overlay:before {
		height: 10%;
	}
	.overlay .fa {
		height: 25px;
		width: 25px;
		font-size: 14px;
		padding: 6px;
	}
	.overlay {
		width: 1px;
	}
	.overlay2 {
		font-size: 13px;
	}
	.overlay .col-form-label {
		font-size: 14px;
		width: 42px;
	}
	img {
	height: 117.6px;
	}
	.product-bottom h5 {
    font-size: 12px !important;
	}
	.product-bottom h3 {
    font-size: 17px !important;
	}
}

@media ( min-width : 992px) and (max-width:1199px) {
	.overlay:before {
		height: 12%;
	}
	.overlay .fa {
		margin-bottom: 30%;
	}
	.overlay .col-form-label {
		height: 40px;
	    width: 60px;	
	    margin-bottom: 7px;
	    margin-left: 3px;
	}
	img {
	height: 164.7px;
}
}

@media ( min-width : 1200px) {
	.overlay:before {
		height: 10%;
	}
	.overlay .fa {
		height: 40px;
		width: 40px;
		font-size: 23px;
		padding: 9px;
		margin: 5%;
		margin-bottom: 50%;
	}
	.overlay .col-form-label {
		height: 45px;
	    width: 70px;
	    font-size: 20px;
		margin: 5%;
		margin-bottom: 30%;
	}
}