<!DOCTYPE html>
<html>
<head>
<title>Header sample</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../public/css/header_sample.css">

</head>
<body>
	<nav class="navbar navbar-expand-md bg-light sticky-top">
	
		<button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="collapse_target">
		
		<div class="mainicon" href="/"><img src="../public/images/logo_camelito_marron.png"><span class="align-middle"> Camelito </span>
		</div>

		
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Link 1</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 2</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 3</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 4</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 5</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 6</a>
			</li>
		</ul>
		</div>
		
		
	</nav>
	
	

</body>
</html>