<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form method="post" action="../Srv1">
	First name : <input type="text" name="firstName"/></br>
	Last name : <input type="text" name="lastName"/></br>
	Birth date : <input type="text" name="birthDate"/></br>
	
	Sex :<br><input type="radio" name="sex" value="male" checked>Male
	<br>
	<input type="radio" name="sex" value="female">Female
	<br><input type="submit" />
</form>
<a href="http://localhost:8080/Lab1/ReadCookie">View cookie</a>
</body>
</html>