<!DOCTYPE html>
<html lang="fr">

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="../public/css/profilStyle.css">

<head>
	<title>Camelito</title>
</head>

<body>
<h1> Mon profil : </h1>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form>
      
       <div class="form-group row">
    <label for="name" class="col-form-label">Nom : </label>
    <div class="col-sm-6">
      <input type="text" readonly class="form-control-plaintext" id="name" value="Bidet">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="surname" class="col-form-label">Prénom : </label>
    <div class="col-sm-7">
      <input type="text" readonly class="form-control-plaintext" id="surname" value="Bob">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="pseudo" class="col-form-label">Pseudo : </label>
    <div class="col-sm-7">
      <input type="text" readonly class="form-control-plaintext" id="pseudo" value="Bobidet">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="mail" class="col-form-label">Addresse mail : </label>
    <div class="col-sm-7">
      <input type="email" readonly class="form-control-plaintext" id="mail" value="bob.bidet@isep.fr">
    </div>
  </div>
  
    <div class="form-group row">
    <label for="mode" class="col-form-label">mode : </label>
   <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitches">
  <label class="custom-control-label" for="customSwitches">Client</label>
</div>
  </div>
  

  
    </form>
      
    
    
      </div>
    <div class="col-sm-6">	
	
	<fieldset>
	<img class="img-responsive" src="../public/images/logo_camelito_marron_noBG.png" alt="Logo Camelito" width="120" height="120"/>
	</fieldset> 
	
   
  </div>
</div>
</div>
    
    
  
	
	
</body>

</html>