<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Times,serif;font-size:8.1px;color:rgb(181,120,34);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:8.1px;color:rgb(181,120,34);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="/jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-421px;top:0px;width:842px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="back/background1.jpg" width=842 height=595></div>

<div style="position:absolute;left:29%;top:15.39px" class="class1"><span class="cls_002"> <FONT size="5pt"> La course aux Camelicoins </FONT></span></div>

<div style="position:absolute;left:110px;top:55.39px" class="class1"><span class="cls_002">I</span></div>
<div style="position:absolute;left:25%;top:55.39px" class="class1"><span class="cls_002">Client lambda A</span></div>
<div style="position:absolute;left:55%;top:55.39px" class="class1"><span class="cls_002">350 CC</span></div>

<div style="position:absolute;left:110px;top:93.44px" class="class1"><span class="cls_002">II</span></div>
<div style="position:absolute;left:25%;top:93.44px" class="class1"><span class="cls_002">George Washington</span></div>
<div style="position:absolute;left:55%;top:93.44px" class="class1"><span class="cls_002">666 CC</span></div>

<div style="position:absolute;left:110px;top:127.76px" class="class1"><span class="cls_002">III</span></div>
<div style="position:absolute;left:25%;top:127.76px" class="class1"><span class="cls_002">Vous</span></div>
<div style="position:absolute;left:55%;top:127.76px" class="class1"><span class="cls_002">42 CC</span></div>

<div style="position:absolute;left:110px;top:166.30px" class="class1"><span class="cls_002">IV</span></div>

<div style="position:absolute;left:110px;top:203.47px" class="class1"><span class="cls_002">V</span></div>

<div style="position:absolute;left:110px;top:237.80px" class="class1"><span class="cls_002">VI</span></div>

<div style="position:absolute;left:110px;top:273.79px" class="class1"><span class="cls_002">VII</span></div>

<div style="position:absolute;left:216.32px;top:318.49px" class="class1"><span class="cls_002">votre score</span></div>



<div style="position:absolute;left:408px;top:340px"> <img src="image/chammeau.png"> </div>
<div style="position:absolute;left:400px;top:320px" class="class1"><span class="cls_002">Chameau dynamique !</span></div>


</div>




</body>
</html>
